//  TTNorms-Medium

@font-face {
  font-family: "TTNorms";
  src: url("../css/fonts/TTNorms-Medium.woff2") format("woff2"),
    url("../css/fonts/TTNorms-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
