.reviews {
    background: url("../img/reviews/fon.png") no-repeat 0 0 / contain, $red;
    padding: 80px 0 50px;
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 1em;
        
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        cursor: pointer;
        img {
            margin-bottom: 10px;
        }
        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 28px;
            color: #ffffff;
        }
        &-subtitle {
            font-size: 12px;
            line-height: 24px;
            color: #ffffff;
        }

        &-content {
            display: none;
        }
    }

    &__content {
        background: #fff;
        border-radius: 10px;
        padding: 75px 75px 75px 140px;
        position: relative;
        margin-bottom: 30px;
        display: none;
        &.current {
            display: inherit;
        }
        &:nth-child(2) {
            &::after {
                left: 29%;
            }
        }
        &:nth-child(3) {
            &::after {
                left: 49%;
            }
        }
        &:nth-child(4) {
            &::after {
                left: 69%;
            }
        }
        &:nth-child(5) {
            &::after {
                left: 90%;
            }
        }
        &::after {
            content: "";
            position: absolute; /* Абсолютное позиционирование */
            left: 8%;
            bottom: -20px; /* Положение треугольника */
            border: 10px solid transparent; /* Прозрачные границы */
            border-top: 10px solid #fff; /* Добавляем треугольник */
        }
        p {
            font-weight: 500;
            font-size: 24px;
            line-height: 133%;
            color: #18191f;
            position: relative;
            &:after {
                content: "“";
                font-weight: 800;
                font-size: 72px;
                color: $red;
                position: absolute;
                left: -50px;
                top: 0;
            }
        }
    }
}
