.program {
	padding: 90px 0;
	overflow: hidden;
	&__title {
		margin-bottom: 71px;
		text-align: center;
	}
	&__block{
		color: #2C2C2C;
		&-wrapper{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
		}
		&-select{
			display: flex;
			flex-direction: column;
			width: 100%;
			padding-left: 25px;
		}
		&-content{
			box-shadow: 0px 0px 34px -19px #ff005c;
			margin-top: 50px;
			transition: all ease 0.3s;
			padding: 50px 70px;
			border-radius: 25px;
			position: relative;
			z-index: 1;

		}
		&-nav{
			display: flex;
			flex-direction: column;
			width: 300px;
			flex-shrink: 0;
			&-link{
				cursor: pointer;
				font-size: 24px;
				line-height: 120%;
				
				border-left: 2px solid #eee;
				padding: 5px 5px 5px 10px;
				opacity: .6;
				transition: .2s;
				&:hover{
					opacity: 1;
					border-left: 2px solid #ecc9c9;	
				}
				&.active{
					border-left: 2px solid #FF005C;	
					opacity: 1;
				}
			}
		}
		&-info{
			&-text{
				font-weight: 600;
				font-size: 38px;
				line-height: 140%;
				margin-bottom: 15px;
			}
		}
		&-sub{
			display: flex;
			flex-wrap: wrap;
			&-link{
				cursor: pointer;
				display: none;				
				align-items: center;
				min-height: 70px;
				font-size: 24px;
				line-height: 120%;
				border: 1px solid #eee;
				border-radius: 75px;
				margin-right: 15px;
				margin-bottom: 15px;
				padding: 5px 70px;
				transition: .3s;
				&:hover{
					background: #fff8f8;
				}
				&-active{
					font-weight: bold;
					color: #fff;
					background: #FF005C;
					border: 1px solid #FF005C;
					&:hover{
						background: #FF005C;
					}
				}

				&.active{
					display: flex;
				}
			}
		}
	}
	&__item{
		display: none;
		&.active{
			display: block;
		}
		&-swiper{
			overflow: hidden;
			&-wrap{
				position: relative;
			}
			&-03 ~ div,
			&-04 ~ div,
			&-05 ~ div,
			&-08 ~ div,
			&-09 ~ div,
			&-11 ~ div,
			&-12 ~ div,
			&-13 ~ div,
			&-15 ~ div,
			&-16 ~ div,
			&-17 ~ div,
			&-18 ~ div,
			&-19 ~ div,
			&-20 ~ div,
			&-28 ~ div,
			&-29 ~ div{
				display: none;
			}
			&-03,
			&-04,
			&-05,
			&-08,
			&-09,
			&-11,
			&-12,
			&-13,
			&-15,
			&-16,
			&-17,
			&-18,
			&-19,
			&-28,
			&-29{
				.swiper-wrapper{
					justify-content: center;
				}
			} 
			&-nav{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%);
				width: calc(100% + 70px);
				z-index: 999;
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 0;
				&-pagination{
					margin: 25px auto 0;
					text-align: center;
					transition: 0.3s;
					.swiper-pagination-bullet{
						transition: 0.3s;
						opacity: 1;
						width: 15px;
						height: 15px;
						background: #D9D9DC;
						&-active{
							background: #FF005C;
						}
					}
				}
				&-arrow{
					display: block;
					cursor: pointer;
					width: 35px;
					height: 35px;
					background: url('../img/info/arrow-l.svg') center center no-repeat;
					background-size: contain;
				}
				&-next{
					transform: rotate(180deg);
				}
			}
		}
		&-title{
			font-weight: 600;
			font-size: 38px;
			line-height: 140%;
			color: #2C2C2C;
			margin-bottom: 20px;
		}
		&-description{
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 130%;
			color: #2C2C2C;
		}
		&-text{
			position: relative;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 130%;
			color: #9091A3;
			padding-left: 75px;
			&::before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 48px;
				height: 48px;
				background: url('../img/info/info.svg') center center no-repeat;
				background-size: contain;
			}
		}
		&-main{
			margin-bottom: 40px;
		}
		&-top{
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin-bottom: 40px;
			&-pic{
				width:	385px;
				flex-shrink: 0;
			}
			&-content{
				width: calc(100% - 415px);
			}
		}
	}
	&__card{
		background: #FFFFFF;
		border: 1px solid #FF005C;
		box-sizing: border-box;
		border-radius: 31px;
		padding: 20px 15px;
		display: flex;
		flex-direction: column;
		height: auto;
		&-img{
			margin: 0 auto 20px;
		}
		&-title{
			font-family: "Inter", Arial, Helvetica, sans-serif;
			font-weight: 700;
			font-size: 22px;
			line-height: 120%;
			color: #2c2c2c;
			margin-bottom: 25px;
		}
		&-text{
			font-family: "Inter", Arial, Helvetica, sans-serif;
			font-weight: normal;
			font-size: 16px;
			line-height: 120%;
			color: #2c2c2c;
			margin-bottom: 25px;
		}
		&-description{
			font-weight: normal;
			font-size: 15px;
			line-height: 130%;
			color: #FF005C;
			margin-top: auto;
		}
		&-link{
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 100%;
			min-height: 45px;
			background: #FF005C;
			border-radius: 26px;
			font-family: "Inter", Arial, Helvetica, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 140%;
			color: #FFFFFF;
			margin: 25px auto 0;
			&:hover,
			&:active{
				color: #fff;
				box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .3);
				transition: all 0.5s ease;
			}
		}
	}
}
