.document {
    padding: 0 0 80px;
    &__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 40px;
        position: relative;
    }

    &__title {
        margin-bottom: 30px;
        white-space: nowrap;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #18191f;
        margin-bottom: 30px;
    }

    &__list {
        li {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            position: relative;
            padding-left: 20px;
            margin-bottom: 13px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 10px;
                height: 10px;
                display: block;
                background: $red;
                border-radius: 100%;
                top: 10px;
            }
        }
    }
}
