.footer {
    padding: 40px 0;
    background: #EEEEEE;
    &.blockThanks {
        padding: 30px 0;
    }
    &__top {
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        &.blockThanks {
            display: none;
        }
    }
    &__logo {
        width: 100%;
        max-width: 194px;
    }
    &__wrap {
        display: flex;
        align-items: center;
        margin-right: 6%;
        max-width: 559px;
        width: 100%;
        justify-content: space-between;
    }
    &__contacts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 5%;
        grid-row-gap: 5px;
        flex: 0 0 auto;

        a {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #0b132a;
            img {
                margin-right: 10px;
            }
        }
    }

    &__menu {
        display: flex;
        div {
            margin-right: 50px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            font-weight: 500;
            font-size: 18px;
            line-height: 14px;
            color: #6e6e7b;
            font-family: $TTNorms;
            display: block;
        }
        &-link {
            margin-bottom: 10px;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        div {
            font-weight: 500;
            font-size: 15px;
            line-height: 16px;
            color: #a0a8b1;
            margin-right: 4%;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
