{%
			set data =  [

		{
			title: 'Что делать, если у&nbsp;меня проблема или срочный вопрос?',
					text: 'Весь период обучения вы&nbsp;сможете обращаться за&nbsp;помощью к&nbsp;куратору по&nbsp;организационным вопросам и&nbsp;к&nbsp;тьюторам по&nbsp;вопросам образовательной программы. Мы&nbsp;даем вам поддержку, чтобы учёба была комфортной и&nbsp;эффективной.'
		},
		{
			title: 'Сколько часов в&nbsp;неделю нужно уделять учебе?',
					text: 'В&nbsp;среднем на&nbsp;обучение уходит порядка 4-5 часов в&nbsp;неделю, что позволит вам совмещать учебу с&nbsp;текущей работой и&nbsp;личными делами.'
		},
		{
			title: 'Вы&nbsp;гарантируете трудоустройство?',
					text: 'Мы&nbsp;гарантируем содействие в&nbsp;трудоустройстве. В&nbsp;любом деле важны инициативность и&nbsp;усердие, но&nbsp;мы&nbsp;не&nbsp;бросаем своих студентов после обучения! Мы&nbsp;заинтересованы в&nbsp;вашем результате. Вы&nbsp;сможете обратиться за&nbsp;помощью к&nbsp;нашим HR-специалистам из&nbsp;Центра Карьеры. Они помогут вам грамотно составить резюме для работодателя, подготовят к&nbsp;собеседованию на&nbsp;необходимую вакансию. Благодаря этому ваши шансы на&nbsp;трудоустройство значительно возрастут.'
		},
		{
			title: 'Можно&nbsp;ли приобрести обучение в&nbsp;рассрочку?',
					text: 'Университет &laquo;Синергия&raquo; предлагает образовательный кредит от&nbsp;банков-партнеров. Также на&nbsp;некоторые виды программ действует банковская рассрочка, по&nbsp;условиям которой первый платёж вы&nbsp;вносите через 6&nbsp;месяцев.'
		},
		{
			title: 'Что такое лицензия? Есть&nbsp;ли у&nbsp;вас лицензия? Как долго она действует?',
					text: 'Образовательная лицензия дает право на&nbsp;ведение образовательной деятельности. Университет &laquo;Синергия&raquo; имеет лицензию, выданную Федеральной службой по&nbsp;надзору в&nbsp;сфере образования и&nbsp;науки &#8470;&nbsp;1015 от&nbsp;02.06.2014 (с&nbsp;приложениями), действующую бессрочно.'
		},
		{
			title: 'Каковы технические требования, предъявляемые к&nbsp;компьютеру?',
					text: '<b>Операционная система:</b> Windows 7/8/8.1/10, macOS 10.12 и&nbsp;новее<br>
							<b>Оперативная память:</b> от&nbsp;4&nbsp;ГБ или больше<br>
							<b>Процессор:</b> 2&nbsp;ГГц или мощнее<br>
							<b>Интернет-соединение:</b> от&nbsp;6&nbsp;Мбит/с'
		}
]

%}









